*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3px;
    background: #514b4b;
}

#nav{
    min-height: auto;
    background: radial-gradient(circle at top, #1f2933, #0f172a);
}

#container {
    min-height: auto;
    background: radial-gradient(circle at top, #1f2933, #0f172a);
}

@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;     
    }

    #nav {
        height: auto;
    }
}