*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 8px;
}

#nav{
    min-height: auto;
    border: 1px solid #000;
}

#container {
    min-height: auto;
    border: 1px solid #000;
}

@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;     
    }

    #nav {
        height: auto;
    }
}